body, html {
    height: 100%;
    margin: 0;
}
#root {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    margin: 0;
    background-color: rgb(100, 98, 98)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-item {
    background-color: #100366;
}

.last-item{
    float:right;
}

.nav {
    background-color: #333;
}

.form-container{
    margin-top:5%;
    margin-left:40%;
    color:white;
}

form input{
    margin-top: 10px;
}

